<!-- 실제로 작업할 곳 (약 90%) -->

<!--
  - 포스트 (스펙산정)
  - 구성요소
  - 작성자
    - 작성자 프로필사진 (링크)
    - 작성자 이름 (링크)
    - 작성한 곳
- 작성한 내용
- 이미지(선택) (링크)
- 소셜영역
    - 좋아요
    - 댓글달기
    - 공유하기
-->

<!-- wrapper -->
<!-- 독립적인 콘텐츠 => article -->
<article>
    <!-- 작성자 영역 -->
    <div class="author-area">
        <!--
            [이미지] [ 작성자 명 ]
                   [ 부가설명 ]]
        -->
        <div class="thumb">
            <img src="https://unsplash.it/200/?random" alt="">
        </div>
        <div class="info">
            <div class="name">
                <a href="#">조은</a>
            </div>
            <div class="desc">
                <a href="#">14분</a>
            </div>
        </div>
    </div>
    <!-- 본문 영역 -->
    <div class="text-area">
        <p>구글과 생활코딩이 코딩을 공부하고 있는 분들을 응원하기 위해서 코딩야학을 시작합니다. 30일 분량으로 쪼개진 온라인 무료 강의를 들으면서 코딩을 익혀보세요. 현업 개발자로 이루어진 조력자들이 온라인을 통해서 막히는 부분을 도와드립니다. 이번 코딩 야학의 학습 주제는 웹과 인터넷 그리고 코딩입니다.</p>
    </div>
    <!-- 미디어 영역 -->
    <div class="media-area">
        <a href="#">
            <img src="https://unsplash.it/800/800/?random" alt="">
        </a>
    </div>
    <!-- 소셜 영역 -->
    <div class="social-area">
        <button type="button">좋아요</button>
        <button type="button">댓글 달기</button>
        <button type="button">공유하기</button>
    </div>
</article>
<article>
    <!-- 작성자 영역 -->
    <div class="author-area">
        <!--
            [이미지] [ 작성자 명 ]
                   [ 부가설명 ]]
        -->
        <div class="thumb">
            <img src="https://unsplash.it/200/?random" alt="">
        </div>
        <div class="info">
            <div class="name">
                <a href="#">조은</a>
            </div>
            <div class="desc">
                <a href="#">14분</a>
            </div>
        </div>
    </div>
    <!-- 본문 영역 -->
    <div class="text-area">
        <p>구글과 생활코딩이 코딩을 공부하고 있는 분들을 응원하기 위해서 코딩야학을 시작합니다. 30일 분량으로 쪼개진 온라인 무료 강의를 들으면서 코딩을 익혀보세요. 현업 개발자로 이루어진 조력자들이 온라인을 통해서 막히는 부분을 도와드립니다. 이번 코딩 야학의 학습 주제는 웹과 인터넷 그리고 코딩입니다.</p>
    </div>
    <!-- 미디어 영역 -->
    <div class="media-area">
        <a href="#">
            <img src="https://unsplash.it/800/800/?random" alt="">
        </a>
    </div>
    <!-- 소셜 영역 -->
    <div class="social-area">
        <button type="button">좋아요</button>
        <button type="button">댓글 달기</button>
        <button type="button">공유하기</button>
    </div>
</article>
<article>
    <!-- 작성자 영역 -->
    <div class="author-area">
        <!--
            [이미지] [ 작성자 명 ]
                   [ 부가설명 ]]
        -->
        <div class="thumb">
            <img src="https://unsplash.it/200/?random" alt="">
        </div>
        <div class="info">
            <div class="name">
                <a href="#">조은</a>
            </div>
            <div class="desc">
                <a href="#">14분</a>
            </div>
        </div>
    </div>
    <!-- 본문 영역 -->
    <div class="text-area">
        <p>구글과 생활코딩이 코딩을 공부하고 있는 분들을 응원하기 위해서 코딩야학을 시작합니다. 30일 분량으로 쪼개진 온라인 무료 강의를 들으면서 코딩을 익혀보세요. 현업 개발자로 이루어진 조력자들이 온라인을 통해서 막히는 부분을 도와드립니다. 이번 코딩 야학의 학습 주제는 웹과 인터넷 그리고 코딩입니다.</p>
    </div>
    <!-- 미디어 영역 -->
    <div class="media-area">
        <a href="#">
            <img src="https://unsplash.it/800/800/?random" alt="">
        </a>
    </div>
    <!-- 소셜 영역 -->
    <div class="social-area">
        <button type="button">좋아요</button>
        <button type="button">댓글 달기</button>
        <button type="button">공유하기</button>
    </div>
</article>
<article>
    <!-- 작성자 영역 -->
    <div class="author-area">
        <!--
            [이미지] [ 작성자 명 ]
                   [ 부가설명 ]]
        -->
        <div class="thumb">
            <img src="https://unsplash.it/200/?random" alt="">
        </div>
        <div class="info">
            <div class="name">
                <a href="#">조은</a>
            </div>
            <div class="desc">
                <a href="#">14분</a>
            </div>
        </div>
    </div>
    <!-- 본문 영역 -->
    <div class="text-area">
        <p>구글과 생활코딩이 코딩을 공부하고 있는 분들을 응원하기 위해서 코딩야학을 시작합니다. 30일 분량으로 쪼개진 온라인 무료 강의를 들으면서 코딩을 익혀보세요. 현업 개발자로 이루어진 조력자들이 온라인을 통해서 막히는 부분을 도와드립니다. 이번 코딩 야학의 학습 주제는 웹과 인터넷 그리고 코딩입니다.</p>
    </div>
    <!-- 미디어 영역 -->
    <div class="media-area">
        <a href="#">
            <img src="https://unsplash.it/800/800/?random" alt="">
        </a>
    </div>
    <!-- 소셜 영역 -->
    <div class="social-area">
        <button type="button">좋아요</button>
        <button type="button">댓글 달기</button>
        <button type="button">공유하기</button>
    </div>
</article>
<article>
    <!-- 작성자 영역 -->
    <div class="author-area">
        <!--
            [이미지] [ 작성자 명 ]
                   [ 부가설명 ]]
        -->
        <div class="thumb">
            <img src="https://unsplash.it/200/?random" alt="">
        </div>
        <div class="info">
            <div class="name">
                <a href="#">조은</a>
            </div>
            <div class="desc">
                <a href="#">14분</a>
            </div>
        </div>
    </div>
    <!-- 본문 영역 -->
    <div class="text-area">
        <p>구글과 생활코딩이 코딩을 공부하고 있는 분들을 응원하기 위해서 코딩야학을 시작합니다. 30일 분량으로 쪼개진 온라인 무료 강의를 들으면서 코딩을 익혀보세요. 현업 개발자로 이루어진 조력자들이 온라인을 통해서 막히는 부분을 도와드립니다. 이번 코딩 야학의 학습 주제는 웹과 인터넷 그리고 코딩입니다.</p>
    </div>
    <!-- 미디어 영역 -->
    <div class="media-area">
        <a href="#">
            <img src="https://unsplash.it/800/800/?random" alt="">
        </a>
    </div>
    <!-- 소셜 영역 -->
    <div class="social-area">
        <button type="button">좋아요</button>
        <button type="button">댓글 달기</button>
        <button type="button">공유하기</button>
    </div>
</article>
