<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" 
    content="initial-scale=1, width=device-width">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 공통인 것들 -->
    {{{body}}}
  </body>
</html>
