<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="global--header">
      <div class="logo-area">
        <button type="button" class="btn-menu">메뉴</button>
        <h1><a href="#">유튜브</a></h1>
      </div>
      <div class="search-area">
        <input type="text" placeholder="Search" class="input--text">
        <button type="submit">검색</button>
      </div>
      <div class="user-area">
        <a href="#">업로드</a>
        <a href="#" class="btn btn-primary">로그인</a>
      </div>
    </header>
    <div class="global--wrapper">
      <div class="contents">{{{body}}}</div>
      <div class="global--nav"></div>
    </div>
    <footer class="global--footer"></footer>
  </body>
</html>
